In [54]:
#Importing all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
%matplotlib inline

In [55]:
import io
%cd "C:\Users\lenovo\Desktop\Rajeshsir"

C:\Users\lenovo\Desktop\Rajeshsir

In [56]:
test=pd.read_csv('hrtest.csv')
train=pd.read_csv('hrtrain.csv')

In [57]:
#Displaying first 5 rows of the data
test.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [5]:
train.tail(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [6]:
print(test.shape)
print(train.shape)

(23490, 13)
(54808, 14)

In [7]:
#Displaying the columns of test data
test.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score'],
      dtype='object')

In [8]:
#Displaying the columns of train data
train.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [6]:
#Displaying summary statistics for train data of all numeric columns
train.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [9]:
#Checking null values in train data
train.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [10]:
#Checking null values in test data
test.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [58]:
#Creating new column in test data to concat both the dataframes
test['is_promoted']='pending'

In [59]:
comb=pd.concat([test,train],axis=0)

In [60]:
comb.shape

(78298, 14)

In [14]:
comb.isnull().sum()

employee_id                0
department                 0
region                     0
education               3443
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    5936
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [61]:
comb.education.value_counts(dropna=False)

Bachelor's          52247
Master's & above    21429
NaN                  3443
Below Secondary      1179
Name: education, dtype: int64

In [11]:
comb.previous_year_rating.value_counts(dropna=False)

3.0    26539
5.0    16838
4.0    14126
1.0     8903
2.0     5956
NaN     5936
Name: previous_year_rating, dtype: int64

In [62]:
#Imputing null values of education column with mode
comb.education=comb.education.fillna("Bachelor's")

In [63]:
#Imputing null values of previous_year_rating column with mode
comb.previous_year_rating=comb.previous_year_rating.fillna(3.0)

In [19]:
comb.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,3.0,1,1,0,77,pending
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51,pending
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47,pending
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65,pending
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61,pending

In [64]:
#Splitting data into numeric and object columns
numericcols=comb.select_dtypes(include=np.number)
objectcols=comb.select_dtypes(include=['object'])
#np.number will read both float64 and int64
print(numericcols.shape)
print(objectcols.shape)

(78298, 8)
(78298, 6)

In [65]:
#Creating categorycols from numericcols
categorycols=numericcols[['previous_year_rating','KPIs_met >80%','awards_won?']]

In [66]:
#Dropping categorycols from the numericcols
numericcols=numericcols.drop(['previous_year_rating','KPIs_met >80%','awards_won?'],axis=1)

In [67]:
print(objectcols.shape)
print(numericcols.shape)
print(categorycols.shape)

(78298, 6)
(78298, 5)
(78298, 3)

In [24]:
print(numericcols.columns)
print(objectcols.columns)
print(categorycols.columns)

Index(['employee_id', 'no_of_trainings', 'age', 'length_of_service',
       'avg_training_score'],
      dtype='object')
Index(['department', 'region', 'education', 'gender', 'recruitment_channel',
       'is_promoted'],
      dtype='object')
Index(['previous_year_rating', 'KPIs_met >80%', 'awards_won?'], dtype='object')

In [68]:
from sklearn.preprocessing import LabelEncoder

In [69]:
le=LabelEncoder()

In [70]:
objectcols.is_promoted.value_counts()

0          50140
pending    23490
1           4668
Name: is_promoted, dtype: int64

In [71]:
numericcols['is_promoted']=objectcols.is_promoted

In [72]:
#As is_promoted is dependent variable , dropping it from the objectcols so asto perform labelencoding on objectcols.
objectcols=objectcols.drop('is_promoted',axis=1)

In [73]:
objectcolsdummy=objectcols.apply(le.fit_transform)

In [74]:
categorycolsdummy=categorycols.apply(le.fit_transform)

In [75]:
categorycolsdummy.head()

   previous_year_rating  KPIs_met >80%  awards_won?
0                     2              1            0
1                     2              0            0
2                     0              0            0
3                     1              0            0
4                     3              0            0

In [76]:
combclean=pd.concat([numericcols,objectcolsdummy,categorycolsdummy],axis=1)

In [77]:
combclean

,employee_id,no_of_trainings,age,length_of_service,avg_training_score,is_promoted,department,region,education,gender,recruitment_channel,previous_year_rating,KPIs_met >80%,awards_won?
0,8724,1,24,1,77,pending,8,18,0,1,2,2,1,0
1,74430,1,31,5,51,pending,2,28,0,0,0,2,0,0
2,72255,1,31,4,47,pending,7,4,0,1,0,0,0,0
3,38562,3,31,9,65,pending,5,11,0,0,0,1,0,0
4,64486,1,30,7,61,pending,1,21,0,1,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,1,48,17,78,0,8,5,0,1,2,2,0,0
54804,74592,1,37,6,56,0,4,19,2,0,0,1,0,0
54805,13918,1,27,3,79,0,0,0,0,1,0,4,1,0
54806,13614,1,29,2,45,0,7,33,0,1,2,0,0,0
54807,51526,1,27,5,49,0,2,14,0,1,0,0,0,0

In [78]:
#splitting data back to train & test
hrtraindf=combclean[combclean.is_promoted!='pending']
hrtestdf=combclean[combclean.is_promoted=='pending']

In [79]:
hrtestdf=hrtestdf.drop('is_promoted',axis=1)

In [ ]:
#Testing null average avg_training_score of is_promoted
#Testing null average lenght_of_service of is is_promoted
# Groupby(),null & alt , split dataframe , ttest_ind

In [27]:
hrtraindf.avg_training_score.groupby(hrtraindf.is_promoted).mean()

is_promoted
0    62.647686
1    71.325193
Name: avg_training_score, dtype: float64

In [28]:
hrtraindf.avg_training_score.groupby(hrtraindf.is_promoted).var()

is_promoted
0    168.791268
1    217.448116
Name: avg_training_score, dtype: float64

In [116]:
# Null - there is no significant difference in average avg_training_score of is_promoted 0&1
# Alt - there is significant difference in average avg_training_score of is_promoted 0&1

In [80]:
promotedyes=hrtraindf[hrtraindf.is_promoted==1]
promotedno=hrtraindf[hrtraindf.is_promoted==0]

In [31]:
from scipy.stats import ttest_ind

In [ ]:
# Null - there is no significant difference in average avg_training_score of is_promoted 0&1
# Alt - there is significant difference in average avg_training_score of is_promoted 0&1

In [120]:
ttest_ind(promotedyes.avg_training_score,promotedno.avg_training_score,equal_var=False)
#Sinnce pvalue=7.662329172468838e-291 is less than 0.05 , reject null hypothesis

Ttest_indResult(statistic=38.82675007357188, pvalue=7.662329172468838e-291)

In [ ]:
# Null - There is no Significant difference in Average length_of_service of is_promoted 0 & 1.
# Alt - There is Significant difference in Average length_of_service of is_promoted 0 & 1.

In [121]:
ttest_ind(promotedyes.length_of_service,promotedno.length_of_service,equal_var=False)
# Since pvalue=0.008262946987836755 is less than 0.05, Reject Null

Ttest_indResult(statistic=-2.6420549711884886, pvalue=0.008262946987836755)

In [ ]:
# Testing Null Avearge avg_training_score of different previous_year_rating equal
# Testing Null Avearge length_of_service of different previous_year_rating equal
# groupby(), Null & Alt , split dataframe, f_oneway

In [123]:
hrtraindf.avg_training_score.groupby(hrtraindf.previous_year_rating).mean()

previous_year_rating
0    60.064760
1    61.924024
2    64.045423
3    64.119773
4    63.781364
Name: avg_training_score, dtype: float64

In [32]:
rating1=hrtraindf[hrtraindf.previous_year_rating==0]
rating2=hrtraindf[hrtraindf.previous_year_rating==1]
rating3=hrtraindf[hrtraindf.previous_year_rating==2]
rating4=hrtraindf[hrtraindf.previous_year_rating==3]
rating5=hrtraindf[hrtraindf.previous_year_rating==4]

In [33]:
from scipy.stats import f_oneway

In [34]:
f_oneway(rating1.avg_training_score,rating2.avg_training_score,rating3.avg_training_score,rating4.avg_training_score,rating5.avg_training_score)

F_onewayResult(statistic=133.71725352260415, pvalue=6.957044805766572e-114)

In [35]:
f_oneway(rating1.length_of_service,rating2.length_of_service,rating3.length_of_service,rating4.length_of_service,rating5.length_of_service)

F_onewayResult(statistic=145.83450031447595, pvalue=2.89045896511553e-124)

In [81]:
x=hrtraindf.drop(['is_promoted','employee_id'],axis=1)
y=hrtraindf.is_promoted
y=y.astype(int) #As our dependent variable is in obj type we are converting it to int

In [82]:
hrtraindf.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [83]:
#As the data is imbalanced, balancing the data using smote 
from imblearn.over_sampling import SMOTE

In [84]:
smote=SMOTE()

In [85]:
x_smote,y_smote=smote.fit_resample(x,y)

In [49]:
print(x_smote.shape)
print(x.shape)
print(y_smote.shape)
print(y.shape)

(100280, 12)
(54808, 12)
(100280,)
(54808,)

In [54]:
from sklearn.linear_model import LogisticRegression

In [57]:
logit=LogisticRegression(max_iter=3000)

In [58]:
logmodel=logit.fit(x_smote,y_smote)

In [60]:
model=logmodel.score(x_smote,y_smote)
model

0.6948045472676506

In [93]:
from sklearn.metrics import classification_report

In [70]:
logitpredict=logmodel.predict(x_smote)

In [71]:
#precision,recall,f1 score is very low 
print(classification_report(y_smote,logitpredict))

              precision    recall  f1-score   support

           0       0.70      0.69      0.69     50140
           1       0.69      0.70      0.70     50140

    accuracy                           0.69    100280
   macro avg       0.69      0.69      0.69    100280
weighted avg       0.69      0.69      0.69    100280

In [72]:
#Type 1 and 2 error is very high 
pd.crosstab(y_smote,logitpredict)

col_0            0      1
is_promoted
0            34382  15758
1            14847  35293

In [73]:
from sklearn.ensemble import RandomForestClassifier

In [75]:
rfc=RandomForestClassifier(n_estimators=2000,max_depth=20)

In [76]:
rfcmodel=rfc.fit(x_smote,y_smote)

In [77]:
rf_score=rfcmodel.score(x_smote,y_smote)

In [78]:
#Random forest gave the good accuracy than logistic regression
rf_score

0.9696649381731153

In [79]:
rf_predict=rfcmodel.predict(x_smote)

In [80]:
#precision,recall,f1 score all are good 
print(classification_report(y_smote,rf_predict))

              precision    recall  f1-score   support

           0       0.99      0.95      0.97     50140
           1       0.95      0.99      0.97     50140

    accuracy                           0.97    100280
   macro avg       0.97      0.97      0.97    100280
weighted avg       0.97      0.97      0.97    100280

In [81]:
#false negative and false positive are decreased in random forest 
pd.crosstab(y_smote,rf_predict)

col_0            0      1
is_promoted
0            47383   2757
1              285  49855